.App {
  font-family: sans-serif;
  text-align: center;
}

.content {
  position: fixed;
  max-width: 600px;
  min-width: 300px;
  margin-top: 70px;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}